body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

#button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

#button:hover {
  background-color: #0056b3;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  border: 1px solid #ccc;
}

.child {
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  transition: background-color 0.3s;
}

.child:hover {
  background-color: black;
}

#clearButton {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
}

#clearButton:hover {
  background-color: #b02a37;
}

.button-wrapper {
  display: flex;
  gap: 50px;
}
